/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
/*    padding-top: 50px;*/
    background-color: #f2eeeb;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1560px;
    margin: 0 auto;
    padding: 10px 20px;
}
.block {
    display: block;
}
.i-block {
    display: inline-block;
    margin: 0;
/*    vertical-align: middle;*/

}

.left {
    float: left;
    vertical-align: bottom;
}
.right {
    float: right;
}

/*Colors*/
.aqua {
    background-color: #20c0d4;
    box-shadow: 2px 9px 9px -8px #20c0d4;
}
.red {
    background-color: #e94340;
    box-shadow: 2px 9px 9px -8px #e94340;
}
.green {
    background-color: #4ba64f;
    box-shadow: 2px 9px 9px -8px #4ba64f;
}
.orange {
    background-color: #fe9d18;
    box-shadow: 2px 9px 9px -8px #fe9d18;
}


.white {
    background-color: #fff;
    
    
}
.w-font {
    color: #fff;
}

.b-font {
    color: #3c4858;
}
.g-font {
    color: #a9afbb;
}

/*
* Typography
*/

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/*
* Sidebar
*/

.sidebar {
/*    position: fixed;*/
/*    top: 51px;*/
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
   
}

/* Sidebar navigation */
/*
.sidebar {
    padding-left: 0;
    padding-right: 0;
}
*/

.sidebar .nav {
/*    margin-bottom: 20px;*/
    height: 100%; 
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}


.navbar-inverse {
    border: none !important;
    
}

.navbar-brand {
    padding: 0;
    height: auto;
   
}

.navbar-brand img{
    display: inline;
    margin-right: 15px;
}

.navbar-inverse .navbar-brand {
    color: #fff!important;
}
.navbar {
    margin-bottom: 0 !important;
    min-height: 60px;
    border-radius: 0;
}


/*Login*/
.profile_pic {
    float: left;
    padding-right: 10px;
    width: 70px;
}
span {
    font-size: 16px;
}
.profile_info {
    display: inline-block;
    vertical-align: middle;
    padding-top: 7px;
}

hr {
    width: 85%;
    border-top: 2px solid #dfe1e2;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav>li {
    padding:25px 0 0 0;
}

.nav>li>a {
/*    padding: 45px 0 0 25px;*/
    color: #a9afbb;
    font-size: 11pt;
}

.flex-column {
  
}
.flex-column .zmdi {
    color: #a9afbb;
    font-size: 13pt;
    padding-right: 20px;
} 
    
    
.nav>li>a:hover,
.sr-only{
    background-color: #24c5d9;
    color: #fff;
    box-shadow: 2px 9px 9px -8px #20c0d4;
}
.nav>li>a:hover .flex-column .zmdi {
    color: #fff;
}

/*
* Dashboard
*/

/* Placeholders */

.placeholder {
    height: 115px;
}

.white {
    height: 100%;
}


.col-sm-3 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.dashboard {
    padding-bottom: 3rem;
}
.d-content {
    padding: 20px;
}
.d-content span {
    font-size: 14px;
}
.icon {
    height: 70px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    
}

.icon i {
    line-height: 70px;
    font-size: 40px;
    color: #fff;

}

.headings {
    font-size: 12px;
    font-weight: 600;
    color: #3c4858;
    
}

/*CHARTS*/
.chart {
    padding: 25px;
}

.col-sm-5 {
    height: 280px;
    padding-bottom: 30px;
    
}

.chart,
.white{
    box-shadow: 0 0 5px 1px #d9d9d9;
}

.l-orange {
    color: #fdc97f;
}
.d-orange {
    color: #fca736;
}

.l-red {
    color: #e94340;
}
.d-blue {
    color: #19bbce;
}
.chart h5 {
    padding-right: 15px;
}
.chart i {
    padding-right: 5px;
}